# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS files
.DS_Store

# Generated images
dlv/data/
dlv/datasets/svhn_raw/

# Output file specified in the example.
out/

# Directory made by the configuration file.
dlv/networks/

# Pretrained networks. They take up GBs of storage:
dlv/nn/cifar10
dlv/nn/dlv
dlv/nn/gtsrb
dlv/nn/mnist
dlv/nn/twoDcurve